<div class="row my-1">
{% if directory.is_tile %}
    <form method="post" action="?id={{ directory.id }}&page={{ directory.page }}&tile=true" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="input-group mb-3">
            <input type="file" class="form-control" name="uploadFile">
            <input type="submit" class="btn btn-primary">
        </div>
    </form>
{% else %}
    <form method="post" action="?id={{ directory.id }}&page={{ directory.page }}" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="input-group mb-3">
            <input type="file" class="form-control" name="uploadFile">
            <input type="submit" class="btn btn-primary">
        </div>
    </form>
{% endif %}
</div>