{% load static %}
<div class="row my-1">
{% for child in directory.children %}
    <span class="col-4 text-center my-1 border-top border-bottom">
    {% if child.type == 'directory' and directory.is_tile %}
        <a href="?id={{ child.id }}&page=1&tile=true">
            <img src="{% static 'folder.png' %}" alt="{{ child.name }}" style="max-height: 180px;">
        </a>
        <span style="display: block;">{{ child.name }}</span>
    {% elif child.type == 'directory' %}
        <a href="?id={{ child.id }}&page=1">
            <img src="{% static 'folder.png' %}" alt="{{ child.name }}" style="max-height: 180px;">
        </a>
        <span style="display: block;">{{ child.name }}</span>
    {% elif child.type == 'image' %}
        <a href="?id={{ child.id }}&type={{ child.type }}&content=bytes" data-lightbox="image" data-title="image">
            <img src="{% static 'image.png' %}" alt="{{ child.name }}" class="lazy"
                 style="max-height: 180px;" id="{{ child.id }}">
        </a>
    {% else %}
        <a href="?id={{ child.id }}&type={{ child.type }}">
            <img src="{% static 'other.png' %}" alt="{{ child.name }}" style="max-height: 180px;">
        </a>
        <span style="display: block;">{{ child.name }}</span>
    {% endif %}
    </span>
{% endfor %}
</div>