{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Image View</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.min.css"
          rel="stylesheet">
    <link href="{% static 'browse.css' %}" rel="stylesheet" type="text/css">
</head>
<body>
<div class="container-fluid p-5" style="height: 100vh;">
    <div class="row my-1">
        {% include 'filesystem/breadcrumb.html' with directory=document %}
    </div>
{% if document.type == 'image' %}
    <div class="row d-flex h-100 flex-fill justify-content-center my-1">
        <img src="{{ document.image }}" alt="{{ document.name }}">
    </div>
{% elif document.type == 'pdf' %}
    <div class="row d-flex h-100 flex-fill justify-content-center my-1">
        <embed src="{% static document.name %}">
    </div>
{% elif document.type == 'media' %}
    <div class="row d-flex h-100 flex-fill justify-content-center my-1">
        <embed src="{% static document.name %}">
    </div>
{% endif %}
</div>
</body>
</html>